#Header__Avatar {
  right: 15px;
  top: 25px;
}

#Header__username {
  position: absolute;
  right: 80px;
  top: 25px;
  text-align: right;
}

.Header_name {
  font-size: 50px;
  font-family: coin;
}

.Header_coin {
  width: 55px;
  height: 55px;
}

.user {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.user p {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

/* .event {
  font-weight: bold;
  color: aqua;
} */

/* .event-error {
  font-weight: bold;
  color: red;
} */
