#Header__Avatar {
  right: 15px;
  top: 25px;
  margin-bottom: 50px;
}

#Header__username {
  position: absolute;
  right: 80px;
  top: 25px;
  text-align: right;
}

.Header_name {
  font-size: 50px;
  font-family: coin;
  height: 100px;
  color: #0b0050;
}

.Header_coin {
  width: 55px;
  height: 55px;
}

.header-margin {
  margin-bottom: 45px;
}

.user {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.user p {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.top {
  padding-bottom: 15px;
}

.Controls__GameEvent {
  color: #f5cc46;
  font-size: 20px;
  font-weight: bold;
  font-family: coin;
}

.Controls__GameEvent p {
  margin-top: 30px;
}

.event-error {
  color: red;
}
