.Login_positioning {
  margin: auto;
}

.Login_card {
  box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.05);
  color: #0b0050;
  background-color: #69c298;
  font-family: OpenSans;
  font-weight: 600;
  font-size: 3vh;
  line-height: 2;
  border: solid 4px #f5cc46;
  border-radius: 2vh;
  margin: 2vw;
  padding: 2vmin;
}

.Login_Title {
  font-size: 6vh;
  font-family: coin;
  margin: 2vh;
}

.Login_Header_Coin {
  width: 6vh;
  height: 6vh;
  padding-bottom: 0.5vh;
}

.Login_Name_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Login_Name_button {
  background-color: #f5cc46;
}

.Login_Name_button:hover {
  transform: scale(1.1);
  background-color: #fadf99;
}

/* .Login_input {
  font-weight: 600;
  border-radius: 4vh;
  padding: 1vw;
  font-size: 3vh;
  text-align: center;
  background-color: #f7ffd7;
  border: none;
  margin: 2vw auto 2vw auto;
  width: 33vw;
} */
