.Card_Holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: linear-gradient(
    75deg,
    rgba(146, 138, 194, 1) 26%,
    rgba(143, 192, 169, 1) 62%,
    rgba(143, 192, 169, 1) 100%
  );
  height: 100vh;
}

.Login_Positioning {
  margin-left: auto;
  margin-right: auto;
}

/* First Card */
.LoginCard {
  /* color: #ffffff; */

  /* position: absolute; */
  /* border-left: auto;
  border-right: auto; */
  color: #0b0050;
  font-family: OpenSans;
  font-weight: 600;

  background-color: #69c298;
  box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.05);
  max-width: 460px;
  min-height: 375px;
  /* padding: 1vh 1vh 2vh 1vh; */
  font-size: 3vh;
  border: solid 4px #f5cc46;
  border-radius: 2vh;
  text-align: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.LoginCard p {
  margin-bottom: 15px;
}

.Login_Name {
  font-size: 6vh;
  font-family: coin;
  margin: 45px 0 40px 0;
  /* color: #0b0050; */
}

.Login_Header_Coin {
  width: 6vh;
  height: 6vh;
  padding-bottom: 0.5vh;
}

/* Second Card */
/* .LoggedInCard {
  color: #0b0050;
  font-family: OpenSans;
  font-weight: 600;
  border: solid 4px #f5cc46;
  background-color: #69c298;
  box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.05);
  max-width: 400px;
  min-height: 375px;
  font-size: 3vh;
  border-radius: 2vh;
  text-align: center;
  margin-left: 2vh;
  margin-right: 2vh;
} */

.room_key {
  font-size: 3vh;
  margin: 2vw auto 2vw auto;
  /* max-width: 300px; */
  text-align: center;
  /* line-height: 1.4; */
}

.avatarButton {
  background-color: transparent;
  box-shadow: none;
}

.Login__Name_button,
.LoginCard button,
.Login__Name_input,
.host-new-game input {
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 3px rgba(38, 38, 38, 0.15);
  border: none;
  cursor: pointer;
  background-color: #f5cc46;
  color: #0b0050;
  font-family: OpenSans;
  font-weight: 600;
  border-radius: 4vh;
  padding: 1vw;
  font-size: 3vh;
  text-align: center;
}

.Login__Name_button:hover,
.LoginCard button:hover,
.host-new-game-buttons .join:hover {
  transform: scale(1.1);
  background-color: #fadf99;
}

/* .Login__Name_input,
.host-new-game input {
 
  color: #0b0050;
  background-color: #f7ffd7;
  border: none;
  font-family: OpenSans;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 3px rgba(38, 38, 38, 0.15);
} */

.Login__Name_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.choose-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.Login_arrow {
  max-width: 12vw;
}


.LoginAvatar {
  margin-bottom: 1.5vh;
  width: 25vw;
  margin-top: 2vh;
}

.host-new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.host-new-game-buttons {
  display: flex;
  justify-content: space-between;
}

/* .host-new-game-buttons button,
.host-new-game button {
  background-color: #f7ffd7;
} */

.host-new-game-buttons .join {
  background-color: #f5cc46;
  transition: all 0.3s ease-in-out;
}

::placeholder {
  font-style: italic;
  font-family: OpenSans;
}

.host-new-game p {
  margin-bottom: 1.5vh;
}

.new-game-p {
  margin-top: 1.5vh;
}

.host-new-game input {
  margin-bottom: 1.5vh;
}

.host-btn {
  background-color: #fadf99;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.host-btn:hover {
  transform: scale(1.1);
  background-color: #f5cc46;
}

.logout,
.join,
.startGame {
  margin: 1vh 1vh 1vh 1vh;
}

/* .join {
  margin: 1vh 1vh 1vh 1vh;
}

.startGame {
  margin: 1vh 1vh 1vh 1vh;
} */

.logout:hover {
  transform: scale(1.1);
}

.pick-your-avatar {
  margin: 2vh 0 2vh 0;
}

.pick-your-avatar h2 {
  font-family: coin;
  /* margin-bottom: 2vh; */
}

/* .select {
  font-size: 3vh;
}

.your-avatar {
  line-height: 1.4;
  font-size: 2.5vh;
  margin-bottom: 2vh;
} */

.CardHolder {
  display: flex;
  justify-content: center;
  align-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
}

.errorMessage {
  color: red;
}

.room {
  font-weight: bold;
  font-size: 2.6vh;
  padding: 20px;
}
