#Scores__Window {
  position: absolute;
  top: 0px;
  right: 15px;
  min-height: 498px;
  width: 225px;
  border-style: solid;
  border-width: 2px;
  /* border-color: cornflowerblue;
  background-color: darkgray;
  SEE APP.JS FOR ALL COLOURS OF BOXES TOGETHER */
}

#Scores__List {
  list-style-type: none;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

#Scores__Characters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  font-weight: bold;
}

#Scores__Scores {
  display: flex;
  align-items: center;
}

#Scores__Scores p {
  margin-right: 5px;
}

#Scores__Users {
  display: flex;
  align-items: center;
}

#Scores__Icons {
  width: 30px;
  height: 30px;
}
