@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "coin";
  src: local("coin"), url("./assets/fonts/coin.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #000;
  font-family: "OpenSans";
  background: linear-gradient(
    75deg,
    rgba(146, 138, 194, 1) 26%,
    rgba(143, 192, 169, 1) 62%,
    rgba(143, 192, 169, 1) 100%
  );
  /* display: grid;
  grid-template-rows: auto min-content; */
  height: 100vh;
}

button {
  padding: 1vw 2vw 1vw 2vw;
  font-size: 3vh;
  border-radius: 4vh;
  font-weight: 600;
  border: none;
  box-shadow: 0 4px 8px RGBA(0, 0, 0, 0.05);
  cursor: pointer;
  width: 33vw;
  margin: 2vw auto 2vw auto;
}

input {
  font-weight: 600;
  border-radius: 4vh;
  padding: 1vw 2vw 1vw 2vw;
  font-size: 3vh;
  text-align: center;
  background-color: #f7ffd7;
  border: none;
  margin: 2vw auto 2vw auto;
  width: 33vw;
}

.logout {
  background-color: #0f24a8;
  color: #ffffff;
}

.logout:hover {
  transform: scale(1.1);
  background-color: #2870c2;
}

/* header and controls */
.container {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero {
  /* background-color: red; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.pixi_canvas {
  box-shadow: 0px 2px 4px 3px rgba(38, 38, 38, 0.15);
}

@media (orientation: portrait) {
  #hero {
    flex-direction: column;
  }
}
