@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'coin';
  src: local('coin'), url('./assets/fonts/coin.ttf') format('truetype');
}

.App {
  text-align: center;
  /* background-color: red; */
  color: #000;
  font-family: 'OpenSans';
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  min-width: 100px;
}

.Logo {
  font-size: 50px;
  font-family: cursive;
}

.Bold {
  font-weight: bold;
}

.playing-controls img {
  margin: 10px;
  cursor: pointer;
}

.playing-controls {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.up-down-arrows {
  display: flex;
  flex-direction: column;
}

.Avatar {
  width: 50px;
  height: 50px;
}

.errorMessage {
  color: red;
}

#hero {
  /* background-color: red; */
  position: relative;
}
